<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>BHMI</title>
  {{import "package/*/*/*.css"}}
</head>
<body>
  <div class="container">
    {{include "template/nav"}}
    <div class="row" ng-controller="DeviceCtrl">
      <div class="col-md-4">{{include "template/filter"}}</div>
      <div class="col-md-8">{{include "template/devicelist"}}</div>
    </div>
  </div>
  {{import "js/*/jquery.js, js/*/angular.min.js, js/lib/*.coffee"}}
  {{import "js/*.coffee"}}
</body>
</html>